.button-icon {
    width: 50px;
    height: 50px;
}

.button-icon:hover {
    opacity: 0.4;
    cursor: pointer;
}

.button-icon:active {
    border: 1px solid black;
}

.nav-bar {
    display: flex;
    gap: 35px;
}