.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content {
    margin-top: 3rem;
}

.header {
    background-color: burlywood;
}

.footer {
    background-color: darkkhaki;
}